{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}


{% block body %}

<div class="container">

    <h1>{{authNames.author}}</h1>
    
    <p>Hi!,
        This is a file track management website where you can check and have a track of your files
        
        QR Codes bridge the gap between the physical and digital worlds.
        
        QR Code tracking is the process of monitoring QR Code scan performance and user insights. Learn how many users scanned the QR Code, who were they.</p>
    
</div>

{% endblock body %}