{% extends 'base.html' %} {% block title %} BlogPost
{% endblock title %}
{%block blogactive %} active {% endblock blogactive %} 
{% block body %}  {% comment %}
<h3>{{filename}}</h3>
{% endcomment %} {% comment %}
<h3>{{description}}</h3>
<h4>{{owner}}</h4>
<h4>{{is_active}}</h4>
<img
  src="/media/{{qr}}"
  class="rounded mx-auto p-2 border border-dark"
  alt=""
/>
{% endcomment %}
{% comment %} <div class="row">
  <h4>{{data.tags}}</h4>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem">
      <img src="/media/{{data.qrimage}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{data.filename}}</h5>
        <p class="card-text">{{data.description}}</p>
        <a href="#" class="btn btn-primary"></a>
      </div>
    </div>

  {% comment %}
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  {% endcomment %}
  {% comment %} <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{data.filename}}</h5>
        <p class="card-text">{{data.created_on}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div> {% endcomment %} 
<style>
  .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  </style> 
<div class="container" style="margin-top:30px";>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/media/{{data.qrimage}}" style="margin-left:100px; width:300px"; class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align:center";>Filename : {{data.filename}}</h5>
        <p class="card-text" style="text-align:center";>Description : {{data.description}}</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <b><h3 class="card-title">{{status}}</h3></b>
        {% for hist in history %}
        <div style="">
          <span class="dot"></span> Owner : {{hist.0.owner}} 
          <h5>Created On {{hist.0.created_on}} </h5>
          <h1></h1>
        </div>
        <p class="card-text"></p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock body %}
