{% extends 'base.html' %}

{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}


{% block body %}

<div class="container">

    <h1>QR Scan Result</h1>
    <h1>File {{data}} , want to view or update new file spot.</h1>

    <a class="btn btn-primary btn-lg" href="/history/{{data}}" role="button">View History</a>
    <a class="btn btn-primary btn-lg" href="/update-file/{{data}}" role="button">Own File</a>
    
    <p></p>
    
</div>

{% endblock body %}

